
<div class=" row mt-2 position-relative">
    <img src="/images/cinema.jpg" class="img-fluid mt-2" alt="cinema">
        <div class=" title1 position-absolute ">Cinema</div>
        <div class=" title2 position-absolute ">Ironhack</div>            
            <button type="button" class=" btn btn-light mt-3 rounded-pill  position-absolute top-60 start-40">
                <a href="/movies">Check the movies!!</a>
            </button>                     
</div>
