{{#each movies as |movie|}}

    <div class="row row-cols-1 row-cols-md-5">
    <div class="card movie">
      <img class="card-img-top" src="{{ movie.image }}" alt="{{ movie.title }}">
      <div class="card-body">
        <h5 class="card-title">{{ movie.title }} </h5>
        <a href="/movies/{{movie.id}}">See More</a>
      </div>
    </div>
  </div>

{{/each}}