<div class="container">
  <h1>Ironhack Cinema</h1>
  <h2>Click on the movies to see the showtimes!</h2>
  <div class="movies">
    {{#each movies as |movie|}}
      {{#with movie}}
        <div class="card" style="width: 18rem;">
          <img src="{{image}}" class="card-img-top" alt="{{title}}" />
          <div class="card-body">
            <h5 class="card-title">{{title}}</h5>
            <a href="/movies/{{id}}" class="btn btn-outline-primary rounded-pill">See More</a>
          </div>
        </div>
      {{/with}}
    {{/each}}
  </div>
</div>