<div class="container-fluid" id="homepage">
    <div id="home-content">
        <h1>Cinema <br> Ironhack</h1>
        <a href="/movies" class="btn btn-outline-primary rounded-pill">Check the movies!</a>          
    </div>
</div>

