<div class="row">
    <img src="/images/cinema.jpg" class="img-fluid" alt="Cinema">
    <div class="position-absolute top-50 end-0 translate-middle">
        <h1>{{title}}</h1>
        <p>Welcome to {{title}}</p>
        <a href="/movies" class="btn btn-primary btn-lg " tabindex="-1" role="button" aria-disabled="true">Check the movies!</a>
    </div>
</div>